__pycache__/
*.py[cod]
*$py.class

/.idea/
/.venv/
/env/
/venv/
/.mypy_cache/
/.pytest_cache/
/.coverage
/.coverage.*
/htmlcov/
/site/

/staticfiles/
/media/
/log/
/ssl/
/nohup.out
/db.sqlite3
/db.sqlite3-journal
/var/
/.runtime/
*.log
*.mo

/core/settings/config.env
.env

build/
dist/
*.egg-info/

.cache/
.hypothesis/
.nox/
.tox/
.ipynb_checkpoints/
.pyre/
.pytype/
.ruff_cache/
.pdm.toml
__pypackages__/
