[Unit]
Description=Cafe Postcode Backend
After=network.target

[Service]
Type=simple
User=postcode
Group=postcode
WorkingDirectory=/home/postcode/backend
Environment=DJANGO_SETTINGS_MODULE=core.settings
Environment=DJANGO_SETTINGS_CLASS=CoreSettings
ExecStart=/usr/local/bin/poetry run gunicorn --bind 127.0.0.1:8888 --workers 3 core.wsgi:application
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
